{% extends 'base.html.twig' %}

{% block body %}





		<!-- Start blog -->
		<section id="blog">
			<div class="blogg">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-sm-8">
							<div class="blog">
								<div class="b-img"><a href="#"><img src="assets/images/blog/blog1.jpg" alt="image" /></a></div>
								<div class="b-content">
									<time datetime="2016-10-19" class="icon">
									  <span>19</span>
									  <strong>aug</strong>
									</time>
									<div class="b-txt">
										<h3>Trucking CARGO INDUSTRY At veto accusal</h3>
										<p class="content">
										<i class="fa fa-user" aria-hidden="true"></i>By, <a href="#" class="admin">jon smith</a>
										<i class="fa fa-tag" aria-hidden="true"></i><span>Road Way Delivery</span>
										<i class="fa fa-comments-o" aria-hidden="true"></i><a href="#">Comments: 0</a></p>
									</div>
									<div class="b-single">
										<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atcorrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam  tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur.</p>

										<p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth. No one rejects, dislikes but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. </p>

										<blockquote>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis sentium voluptatum deleniti atque corrupti </blockquote>

										<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue;which is the same as saying through shrinking from toil and pain.</p>

									</div>
									<div class="b-tag"><p> <span>tags : </span>Road Way Delivery</p></div>
									<div class="b-admin">
										<div class="bimg"><img src="assets/images/badmin.jpg" alt="" /></div>
										<div class="btxt">
											<h5 class="border">about <span>admin</span></h5>
											<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestiasid.</p>
										</div>
									</div>
									<div id="comments" class="comments-area">
										<h4 class="comments-title">PEOPLE REVIEWS</h4>
										<ol class="comment-list">
											<li id="comment-1" class="comment depth-1 parent">
												<article id="div-comment-1" class="comment-body">
													<footer class="comment-meta">
														<div class="comment-author">
															<img src="assets/images/bs1.jpg" alt="image" />
														</div><!-- .comment-author -->
													</footer><!-- .comment-meta -->

													<div class="comment-content">
														<b class="fn">Amely Smith</b>
														<div class="reply"><a rel="nofollow" class="comment-reply-link" href="#" onclick="return addComment.moveForm( &quot;div-comment-1&quot;, &quot;1&quot;, &quot;respond&quot;, &quot;1&quot; )" aria-label="Reply to Mr WordPress"></a></div>
														<p class="timedate">August 21, 2014 at 70:30 am</p>
														<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesen-tium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate</p>
													</div><!-- .comment-content -->
												</article><!-- .comment-body -->

												<ol class="children">
													<li id="comment-2" class="comment depth-2">
														<article id="div-comment-2" class="comment-body">
															<footer class="comment-meta">
																<div class="comment-author">
																	<img src="assets/images/bs2.jpg" alt="image" />
																</div><!-- .comment-author -->
															</footer><!-- .comment-meta -->

															<div class="comment-content">
																<b class="fn">jon Smith</b>
																<div class="reply"><a rel="nofollow" class="comment-reply-link" href="#" onclick="return addComment.moveForm( &quot;div-comment-1&quot;, &quot;1&quot;, &quot;respond&quot;, &quot;1&quot; )" aria-label="Reply to Mr WordPress"></a></div>
																<p class="timedate">August 21, 2014 at 70:30 am</p>
																<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesen-tium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate</p>
															</div><!-- .comment-content -->
														</article><!-- .comment-body -->
													</li><!-- #comment-## -->
												</ol><!-- .children -->
											</li><!-- #comment-## -->
										</ol><!-- .comment-list -->

										<div id="respond" class="comment-respond">
											<h4 id="reply-title" class="comment-reply-title">leave a reply</h4>
											<form method="post" id="commentform" class="comment-form" novalidate="">
												<p class="comment-notes">Your email address will not be published.</p>
												<p class="comment-form-comment">
													<label for="comment">Messages</label>
													<textarea id="comment" class="form-control" name="comment" rows="5"></textarea>
												</p>
												<p class="comment-form-author cr">
													<label for="author">Your Name <span class="required">*</span></label>
													<input id="author" class="form-control" name="author" type="text" />
												</p>
												<p class="comment-form-email cr">
													<label for="email">Your Email <span class="required">*</span></label>
													<input id="email" class="form-control" name="email" type="email" />
												</p>
												<p class="form-submit">
													<input name="submit" type="submit" id="submit" class=" submit" value="submit">
													<input type="hidden" name="comment_post_ID" value="1" id="comment_post_ID">
													<input type="hidden" name="comment_parent" id="comment_parent" value="0">
												</p>
											</form>
										</div><!-- #respond -->
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<div class="blog-widget">
                <div class="facebook">

                        <div class="fb-page" data-href="https://web.facebook.com/www.avstransports.ci/" data-height="400" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true">
                            <div class="fb-xfbml-parse-ignore">
                                <blockquote cite="https://web.facebook.com/www.avstransports.ci/">
                                    <a href="https://web.facebook.com/www.avstransports.ci/">TRANSPORTS AVS</a>
                                </blockquote>
                            </div>
                        </div>

                    </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>


{% endblock %}
